/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ************************************************** */

/* *********** FUENTES *********** */
@font-face {
    font-family: EHUSans-Regular;
    font-style: normal;
    src: url("EHUSans-Regular.otf");
}

@font-face {
    font-family: EHUSans-Regular;
    font-weight: bold;
    src: url("EHUSans-Bold.otf");
}

@font-face {
    font-family: EHUSans-Regular;
    font-style: italic;
    src: url("EHUSans-Italic.otf");
}

/* *********** SLIDER *********** */

@-moz-keyframes slider { /*FF 13 -16 */
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-webkit-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-ms-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-khtml-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-o-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@keyframes slider { /* W3C starndard*/
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
div#slider{
    overflow: hidden;
    box-sizing: border-box;
    width: 40%;
    margin-left: 31%;
}
div#slider figure a{
    margin:0;
    padding: 0;
}
div#slider figure img{
    width: calc(100%/5);
    /*  border-image-width:0!important;*/
    box-sizing: border-box;
    float: left;
}
div#slider figure{
    position: relative;
    width: 500%;/*500vw;*/
    margin: 0;
    left: 0;
    box-sizing: border-box;
    padding:0;
    animation: 30s slider infinite;
}

/* ************************* */

div.slides-frame {
    width: 640px;
    height: 480px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
div.slides {
    -webkit-animation: slideUp 20s infinite;
    -moz-animation: slideUp 20s infinite;
    -o-animation: slideUp 20s infinite;
    animation: slideUp 20s infinite;
    position: relative;
}
div.slide {
    width: 640px;
    height: 480px;
    font-size: 0;
}
div.slide-1 {
    background: url('http://media.2oceansvibe.com/wp-content/uploads/2013/02/Game-of-Thrones-game-of-thrones-17629189-1280-720-640x480.jpeg');
}
div.slide-2 {
    background: url('http://2.bp.blogspot.com/-O-JHDNhGhdw/TuvxZOCXg6I/AAAAAAAAAZA/Fwt1UNBObC0/s640/Daenerys-Targaryen-game-of-thrones-17834607-1024-768.jpg');
}
div.slide-3 {
    background: url('http://s5.best-desktop-wallpaper.net/images/640/32/ff9f3c2885bd9677bbdedcc13c7b7fe3.jpg');
}
div.slide-4 {
    background: url('http://1.bp.blogspot.com/-Szz11Bv9Bo4/TyFDOvwNGOI/AAAAAAAAAgk/VyH-YHODe4U/s640/gameofthrones.jpg');
}

@-webkit-keyframes slideUp{ 0% {bottom: 0 ;} 20% { bottom: 0; } 27% { bottom: 480px; } 47% { bottom: 480px; } 54% { bottom: 960px; } 74% { bottom: 960px; } 80% { bottom: 1440px; } 100% { bottom: 1440px; }}
@-moz-keyframes slideUp{ 0% {bottom: 0 ;} 20% { bottom: 0; } 27% { bottom: 480px; } 47% { bottom: 480px; } 54% { bottom: 960px; } 74% { bottom: 960px; } 80% { bottom: 1440px; } 100% { bottom: 1440px; }}
@-o-keyframes slideUp{ 0% {bottom: 0 ;} 20% { bottom: 0; } 27% { bottom: 480px; } 47% { bottom: 480px; } 54% { bottom: 960px; } 74% { bottom: 960px; } 80% { bottom: 1440px; } 100% { bottom: 1440px; }}
@keyframes slideUp{ 0% {bottom: 0 ;} 20% { bottom: 0; } 27% { bottom: 480px; } 47% { bottom: 480px; } 54% { bottom: 960px; } 74% { bottom: 960px; } 80% { bottom: 1440px; } 100% { bottom: 1440px; }}

/* ************************* */


/* ************************* */

*{
    font-align: 14pt;
    font-family: Calibri, Arial, Verdana;
}

h1,h2,h3,h4{
    font-family: Arial, Verdana;
    color: brown;
}

h1{
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 120%;
    margin-bottom: 10px;
    font-family: EHUSans-Regular;
}

h3{
    font-size: 110%;
}

h4{
    font-size: 100%;
}

#wrapper{
    position: relative;
    top: 30px;
}

header{
    padding: 20px;
    margin-top: 30px;
}

body{
    max-width: 1024px;
    margin: 0 auto;
    background: #d0d0d0;
}

#wrapper > header{
    width: 100px;
    margin: 0 auto;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    z-index: 100;
}

nav ul{
    background-color: #a5a5a5;
}

nav ul li{
    padding: 10px;
    float: left;
}

nav ul li:hover{
    background-color: gray;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear:both;
}

a{
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: black;
}

img.secciones{
    float: left;
    margin-right: 10px;
    /*
    border: 1px;
    border-style: solid;
    */
}

iframe{
    float: left;
    margin-right: 10px;
}

.arriba{
    float: right;
}

section{
    margin-top: 50px;
}

footer{
    margin-top: 30px;
}

/* *********** SPRITES MIO *********** */

ul.spritesmios li a {
    background: url(../images/sprites2.png) #f6e2b9 no-repeat 0 0;
    background-color: #d0d0d0;
    display: block;
    height: 76px;
    width: 76px;
    float: right;
    /*background-size: auto 96px;*/
}

ul.spritesmios li a.twitter {
    background-position: 0 0;
}

ul.spritesmios li a.facebook {
    background-position: -76px -0px;
}

ul.spritesmios li a.twitter:hover,
#sidebar ul.spritesmios li a.twitter:hover {
    background-position: 0px -154px;
}

ul.spritesmios li a.facebook:hover,
#sidebar ul.spritesmios li a.facebook:hover {
    background-position: -76px -231px;
}

/* *********** SPRITES GOOGLE *********** */

ul.spicesocialwidget {
    float: right;
}
ul.spicesocialwidget li {
    float: left;
    padding: 0px;
    list-style: none outside none;
    border: none;
}
ul.spicesocialwidget li a {
    background-color: transparent;
    background-image: url('../images/spice-social-gadget-sprite.png');
    background-repeat: no-repeat;
    background-size: auto 96px;
    border: 0 none;
    color: white;
    direction: ltr;
    display: block;
    height: 32px;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    text-indent: -999em;
    transition: all 0.2s ease 0s;
    width: 32px
}
.ie7 ul.spicesocialwidget li a,
.ie8 ul.spicesocialwidget li a {
    background-image: url('../images/spice-social-gadget-sprite.png')
}
ul.spicesocialwidget li.facebook a {
    background-position: 0 0
}
ul.spicesocialwidget li.flickr a {
    background-position: -32px 0
}
ul.spicesocialwidget li.dribbble a {
    background-position: -64px 0
}
ul.spicesocialwidget li.googleplus a {
    background-position: -96px 0
}
ul.spicesocialwidget li.linkedin a {
    background-position: -128px 0
}
ul.spicesocialwidget li.pinterest a {
    background-position: -160px 0
}
ul.spicesocialwidget li.rss a {
    background-position: -192px 0
}
ul.spicesocialwidget li.skype a {
    background-position: -224px 0
}
ul.spicesocialwidget li.twitter a {
    background-position: -256px 0
}
ul.spicesocialwidget li.vimeo a {
    background-position: -288px 0
}
ul.spicesocialwidget li.youtube a {
    background-position: -320px 0
}
ul.spicesocialwidget li.facebook a:hover,
#sidebar ul.spicesocialwidget li.facebook a:hover {
    background-position: 0 -32px
}
ul.spicesocialwidget li.flickr a:hover,
#sidebar ul.spicesocialwidget li.flickr a:hover {
    background-position: -32px -32px
}
ul.spicesocialwidget li.dribbble a:hover,
#sidebar ul.spicesocialwidget li.dribbble a:hover {
    background-position: -64px -32px
}
ul.spicesocialwidget li.googleplus a:hover,
#sidebar ul.spicesocialwidget li.googleplus a:hover {
    background-position: -96px -32px
}
ul.spicesocialwidget li.linkedin a:hover,
#sidebar ul.spicesocialwidget li.linkedin a:hover {
    background-position: -128px -32px
}
ul.spicesocialwidget li.pinterest a:hover,
#sidebar ul.spicesocialwidget li.pinterest a:hover {
    background-position: -160px -32px
}
ul.spicesocialwidget li.rss a:hover,
#sidebar ul.spicesocialwidget li.rss a:hover {
    background-position: -192px -32px
}
ul.spicesocialwidget li.skype a:hover,
#sidebar ul.spicesocialwidget li.skype a:hover {
    background-position: -224px -32px
}
ul.spicesocialwidget li.twitter a:hover,
#sidebar ul.spicesocialwidget li.twitter a:hover {
    background-position: -256px -32px
}
ul.spicesocialwidget li.vimeo a:hover,
#sidebar ul.spicesocialwidget li.vimeo a:hover {
    background-position: -288px -32px
}
ul.spicesocialwidget li.youtube a:hover,
#sidebar ul.spicesocialwidget li.youtube a:hover {
    background-position: -320px -32px
}
